{% extends 'base.html.twig' %}

{% block title %}Velvet Rocks!!{% endblock %}
{% block body %}
<div class="container">
<div class="row">
<img class="col-3 img-fluid" src= {{ asset('images/velvetDog.png') }}  alt="">
<p class="col-9 mt-4 border border-dark">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quasi esse fugit laborum rem aut quae soluta quaerat illum odio ab, maiores earum reiciendis sed laudantium! Illo accusantium quibusdam atque laudantium natus? Eligendi cupiditate, modi saepe minus repellendus, laboriosam necessitatibus debitis animi ad mollitia voluptatibus quis nesciunt! Placeat aspernatur dolores, ullam necessitatibus laboriosam pariatur minima fuga quod nisi inventore soluta, dignissimos facilis nesciunt. Illum, quae minima laborum provident mollitia tempore ipsam facere vero sunt enim, sit unde molestias ut asperiores voluptas cum neque eum voluptatem voluptatum iste error perferendis, saepe quo. Aspernatur cum quo ullam molestias cupiditate possimus velit tempore! Rem veniam expedita veritatis officia exercitationem animi et, sequi minima vel optio laborum inventore amet ipsum. Rem, ad necessitatibus? Ipsum earum exercitationem magnam quidem accusantium odio excepturi vel consequuntur fugiat, fuga optio quam vitae blanditiis vero. Veritatis ex temporibus blanditiis totam ducimus nulla unde adipisci, dicta ipsum omnis! Magnam, eveniet amet? Quos, at tempora sequi saepe natus soluta ducimus sint est, optio commodi, ipsam perferendis nisi. Beatae aut eos ipsa distinctio totam? Quam temporibus exercitationem necessitatibus quia sunt totam, accusamus eos fugiat fuga possimus eveniet alias, veniam soluta laudantium. Asperiores pariatur dolore officiis est inventore quis, veritatis minima nihil id!
</p>

</div>
<div class="row">
<a href="#" class="btn btn-primary col-12 ">Les disques</a>
</div>

</div>
{% endblock %}
